 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Will has peculiar interest in disassemble things apart and put them back together. This hands on approach has given him the opportunities to break fix or build anything from tiny remote control toys, to performance vehicles, and sometimes enterprise servers in different shapes and sizes.</p>
                </div>
		<div class="col-lg-4">
		<p><br></p>
		</div>
                <div class="col-lg-4">
                    <p>Strangely he persisted working with corporate and High Performance Computing UNIX environment at various work places and universities.  From past involvement with Australia wide Grid computing project, he is now currently specialised in helping researchers and research support groups from all over Australia and around the world.</p>
                </div>
            </div>
        </div>
    </section>
